.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
.avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
}
.name {
    span {
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 8px;
        color: rgba(22, 24, 35, 1);
    }
    .check-icon {
        color: #20d5ec;
    }
}
.user-name {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
}
